<div class="card" id="comments">
  <div class="card-body">
    <!-- 댓글 작성 창 -->
    {{>comments/_form}}
    <!-- 댓글 목록 -->
    {{>comments/_list}}
  </div>
</div>

<!-- ajax 통신을 위한 JS 추가 -->
<script src="/js/app/comment.js"></script>