{{>layouts/header}}

<div class="jumbotron">
  <h1>Article 등록</h1>
  <hr>
  <p>articles/new.mustache</p>
</div>

<!-- Form 태그,
  기존 속성 method와 action을 삭제!
  왜? JS로 보낼거니까!
-->
{{#article}}
  {{>articles/_form}}
{{/article}}

<Script src="/js/app/article.js"></script> <!-- article.js 삽입 -->
{{>layouts/footer}}